    <p>&nbsp;</p>
    <p align="center" class="ms-pagetitle">关于中医药数据网格</p>
    <p align="center">Powered by <a href="http://grid.zju.edu.cn" target="_blank">Dartgrid</a>!</p>
 	<p align="center">
 	<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" WIDTH="588" HEIGHT="589">
 		<PARAM NAME=movie VALUE="${rc.contextPath}/images/dart_flash.swf"> <PARAM NAME=quality VALUE=high><param name=wmode value=opaque>
 		<EMBED src="${rc.contextPath}/images/dart_flash.swf" quality="high" WIDTH="588" HEIGHT="589" TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"></EMBED>
	</OBJECT> 	  
    </p>			
    </p>
  
				