<TABLE class="ms-titleareaframe" cellSpacing="0" cellPadding="0" width="100%" border="0">
	<TR>
		<TD style="PADDING-BOTTOM: 0px">
			<TABLE style="PADDING-LEFT: 2px; PADDING-TOP: 0px" cellSpacing="0" cellPadding="0" border="0">
				<TR>
					<TD style="PADDING-TOP: 4px" noWrap align="center" width="127" height="46"><img src="images/T1-0.gif" width="249" height="58"></TD>
					<TD><img src="${rc.contextPath}/images/T1-1.gif" width="135" height="65"></TD>
					<TD><img src="${rc.contextPath}/images/T1-2.gif" width="369" height="65"></TD>
					<TD><img src="${rc.contextPath}/images/T1-1.gif" width="135" height="65"></TD>
				<TD>
					<table>
						<tr><td>
							<a href="${rc.contextPath}/userDedicatedLanguage.luc?language=en">English</a>  
							</td>
						</tr>
						<tr>
							<td>
							<a href="${rc.contextPath}/userDedicatedLanguage.luc?language=zht">繁体中文</a>  
							</td>
							
						</tr>
					</table>
				 </TD>
				 					
				</TR>
			</TABLE>
			<TABLE cellSpacing="0" cellPadding="0" width="100%" border="0">
				<TR>
					<TD background="images/div.jpg">&nbsp;</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE>