<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<title>用户信息确认</title>

<link href="css/register.css" rel="stylesheet" type="text/css">
</head>


<br>
<br>
<br>
<br>
	

<BODY topmargin="30" marginheight="30">
<form name="affirmForm" action ="${rc.contextPath}/registerAffirm.luc" method="post">
<table width="60%" cellpadding=4 cellspacing=1 align=center class="tableBorder1">
<TBODY> 

<TR align=middle> 
<Th colSpan=2 height=24>用户注册信息确认</TD>
</TR>

<TR> 
<TD width=40% class="TableBody1"><B>真实姓名</B>：</TD>
<TD width=60%  class="TableBody1"> 
<INPUT maxLength="10" size=30 name=name value="${account.userInfo.contact_name}"disabled>&nbsp;&nbsp

</TR>

<TR> 
<TD width=40%  class="TableBody1"><B>性别</B>：</TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="${account.userInfo.sex}"disabled>

</TR>

<TR> 
<TD width=40% class="TableBody1"><B>联系方式</B>：</TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="${account.userInfo.contact}" disabled>
</TD>
</TR>

<TR> 
<TD width=40%  class="TableBody1"><B>注册方式</B>：</font></TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="$!{MessageMapper.get(${account.loginType})}" disabled>
</TR>


<TR> 
<TD width=40%  class="TableBody1"><B>计费方式</B>：</font></TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="$!{MessageMapper.get(${account.chargeType})}" disabled>
</TR>



<TR> 
<TD width=40% class="TableBody1"><B>用户名</B>：</TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="${account.username}" disabled>
</TD>
</TR>

<TR> 
<TD width=40% class="TableBody1"><B>密码(至少6位)</B>：</TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="${account.password}" disabled>
</TD>
</TR>

<TR> 
<TD width=40% class="TableBody1"><B>IP地址</B></TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="${account.IPAddress}" disabled>
</TD>
</TR>

<TR> 
<TD width=40% class="TableBody1"><B>子网掩码</B></TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="${account.mask}" disabled>
</TD>
</TR>

<TR> 
<TD width=40% class="TableBody1"><B>总的月数</B>：</TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="${account.totalDate}"  disabled>
</TD>
</TR>

<TR> 
<TD width=40% class="TableBody1"><B>开始时间</B>：</TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="${account.startDate}" disabled>
</TD>
</TR>


 
<TR> 
<TD width=40% class="TableBody1"><B>总的流量</B>:</TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="${account.totalFlow}" disabled>
</TD>
</TR>

</tbody>
</table>

<table cellpadding=0 cellspacing=0 border=0 width=97% align=center>
<tr></tr>
<tr></tr>
<tr></tr>

<tr></tr>
<tr></tr>
<tr></tr>
<tr>
<td width=50% align=center >
<input type=submit value="确认" name=Submit >
</tr>
</table>
</form>
</BODY>
</HTML>
