<p>
	<a href="http://localhost:8080/tcmgrid2/secure/tableContentDetail.luc?tableIdentity=WX.WX__2000A&primaryKey=20000000000086">WX2000</a><br/>
	<a href="http://localhost:8080/tcmgrid2/secure/tableContentDetail.luc?tableIdentity=WX.WX__2001&primaryKey=20010000000371">WX2001</a><br/>
	<a href="http://localhost:8080/tcmgrid2/secure/tableContentDetail.luc?tableIdentity=WX.WX__2002&primaryKey=20020000028777">WX2002</a><br/>
	<a href="http://localhost:8080/tcmgrid2/secure/tableContentDetail.luc?tableIdentity=WX.WX__2003&primaryKey=20030000000259">WX2003</a><br/>
	<a href="http://localhost:8080/tcmgrid2/secure/tableContentDetail.luc?tableIdentity=WX.WX__2004&primaryKey=20040419000149">WX2004</a><br/>
	
</p>