<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<title>Errors</title>
</head>
<body>
   <table width="100%"  border="0">
      <tr>
        <td align="center" class="ms-pagetitle"><p>Following errors have happened:<p></td>
      </tr>
      <tr>
      	<td align="center">${errorInfoMsg}</td>
      </tr>
    </table>
</body>
</html>   