<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<title>Affirm User Information</title>

<link href="${rc.contextPath}/css/register.css" rel="stylesheet" type="text/css">
</head>


<br>
<br>
<br>
<br>
	

<BODY topmargin="30" marginheight="30">
<form name="affirmForm" action ="userInfoDetail.luc" method="post">
<table width="60%" cellpadding=4 cellspacing=1 align=center class="tableBorder1">
<TBODY> 

<TR align=middle> 
<Th colSpan=2 height=24>Detailed account information </TD>
</TR>

<TR> 
<TD width=40% class="TableBody1"><B>TrueName</B>：</TD>
<TD width=60%  class="TableBody1"> 
<INPUT maxLength="10" size=30 name=name value="$!{userInfo.contact_name}"disabled>&nbsp;&nbsp

</TR>

<TR> 
<TD width=40%  class="TableBody1"><B>Gender</B>：</TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="$!{userInfo.sex}"disabled>

</TR>

<TR> 
<TD width=40% class="TableBody1"><B>Contacts</B>：</TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="$!{userInfo.contact}" disabled>
</TD>
</TR>

<TR> 
<TD width=40%  class="TableBody1"><B>Login type</B>：</font></TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="$!{MessageMapper.get($account.loginType)}" disabled>
</TR>


<TR> 
<TD width=40%  class="TableBody1"><B>Charge type</B>：</font></TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="$!{MessageMapper.get($account.chargeType)}" disabled>
</TR>



<TR> 
<TD width=40% class="TableBody1"><B>UserName</B>：</TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="$!{account.username}" disabled>
</TD>
</TR>

<TR> 
<TD width=40% class="TableBody1"><B>Password(6 characters at least)</B>：</TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="$!{account.password}" disabled>
</TD>
</TR>

<TR> 
<TD width=40% class="TableBody1"><B>IP address</B>: </TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="$!{account.IPAddress}" disabled>
</TD>
</TR>

<TR> 
<TD width=40% class="TableBody1"><B>Sub net mask</B>: </TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="$!{account.mask}" disabled>
</TD>
</TR>

<TR> 
<TD width=40% class="TableBody1"><B>Total month</B>：</TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="$!{account.totalDate}"  disabled>
</TD>
</TR>

<TR> 
<TD width=40% class="TableBody1"><B>Start date</B>：</TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="$!{account.startDate}" disabled>
</TD>
</TR>


 
<TR> 
<TD width=40% class="TableBody1"><B>Total flow</B>:</TD>
<TD width=60%  class="TableBody1"> <INPUT maxLength="10" size=30 name=name value="$!{account.totalFlow}" disabled>
</TD>
</TR>

<TR>
<TD width=40% class="TableBody1">
<B>UserRight：</B>
</TD>
<TD width=60% class="TableBody1">
<input type="checkbox" value="ROLE_USER" name="J_GRANT_AUTHORITES" #if(${account.hasAuthority("ROLE_USER")}) checked #end/>Normal User 
<input type="checkbox" value="ROLE_TECH_ADMIN" name="J_GRANT_AUTHORITES" #if(${account.hasAuthority("ROLE_TECH_ADMIN")}) checked #end/>Administrator for technique
<input type="checkbox" value="ROLE_CUSTOMER_ADMIN" name="J_GRANT_AUTHORITES" #if(${account.hasAuthority("ROLE_CUSTOMER_ADMIN")}) checked #end/>Administrator for Customer
</TD>
</TR>

<TR>
<TD class="TableBody1" >&nbsp></TD>
<TD class="TableBody1" align="left">
<input value="Enactive account" type="submit"/>
</TD>
</TR>

</tbody>
</table>
<input type="hidden" name="CMD_WORD" value="submit"/>
</form>
</BODY>
</HTML>


