<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<title>中医药综合查询系统--查询结果查看</title>

<script type='text/javascript' src='$rc.contextPath/dwr/interface/DwrSession.js'></script>
<script type='text/javascript' src='$rc.contextPath/dwr/engine.js'></script>
<script type="text/javascript">
<!--
var ColumnLength = ${queryResult.getColumnCount()}+1;
var lastGroupID=null;
var curGroupID;
function CBackFun( not_care )
{
 if(lastGroupID!=null){
   for(var i=0;i<ColumnLength;i++){
    var node = document.getElementById(lastGroupID+"_"+i);
    node.className="Table_grayitem";
   }
 }

 for(var i=0;i<ColumnLength;i++){
   var node = document.getElementById(curGroupID+"_"+i);
   node.className="Table_HighItem";
 }
 
 lastGroupID=curGroupID;
}

function selectGroup(GroupNumber, GroupID)
{
 curGroupID=GroupID;
 DwrSession.putString(null,"SearchResult_RowNo",GroupNumber);
 DwrSession.putString(CBackFun,"SearchResult_PageNo",$pageNo);
}
//-->
</script>
</head>

<body>
	<br/>
	<div class="ms-pagetitle" align="center">中医药综合查询系统查询结果</div>
	<br/>
	<div align="center"  class="ms-vb">共查到${queryResult.resultCount}条记录 &nbsp; 
	   #if ($queryResult.isMultiPage())
  	     共${queryResult.pageList.maxPage}页 &nbsp; 当前第${pageNo}页 每页显示${queryResult.pageList.pageSize}条
	   #end
	</div><br/>
	<div align="center" class="ms-vb"><a href="searchResultNav.htm?style=list&pageNo=1">以表格方式显示结果</a>
    <a href="javascript:return false;" onclick="javascript:window.open('${rc.contextPath}/exclude/sematicViewer.htm');">语义浏览结果</a>	
    </div><br/>
	#if ($queryResult.isMultiPage())
		<div align="center" class="ms-vb">
		 #if (!$queryResult.pageList.isFirstPage($pageNo))
			<a href="searchResultNav.htm?style=column&pageNo=${queryResult.pageList.minPage}">第一页</a>
			<a href="searchResultNav.htm?style=column&pageNo=${queryResult.pageList.getPrevPageNo($pageNo)}">上一页</a>
		#end
		#if (!$queryResult.pageList.isLastPage($pageNo))
			<a href="searchResultNav.htm?style=column&pageNo=${queryResult.pageList.getNextPageNo($pageNo)}">下一页</a>
			<a href="searchResultNav.htm?style=column&pageNo=${queryResult.pageList.maxPage}">最后一页</a>
		#end
		<a href="tcmBasicSearch.luc"> 返回 </a>
		</div><br/>
	#end	
	<table align="center" class="std_Table" width="90%">
	 #foreach ($resultData in ${queryResult.pageList.getPage($pageNo)})	
		#set($GroupID  = $velocityCount)
		<tr onclick='selectGroup($GroupID,"Group_$GroupID")'> 
		 	<td class="Table_item" width="20%" >序号</td>
		 	<td class="Table_grayitem" id=Group_${GroupID}_0>$velocityCount</td>		 			 	
		</tr>		
		
		#foreach ($columnInfo in ${queryResult.columnInfos})	
        <tr onclick='selectGroup($GroupID,"Group_$GroupID")'>					
			<td class="Table_item" width="20%" >$!columnInfo.ontoName</td>	
			<td class="Table_grayitem" id=Group_${GroupID}_${velocityCount}>$!resultData.getData($columnInfo.columnName)</td>
		</tr>	
		#end
	    <tr>					
			<td class="Table_grayitem" colspan="2">&nbsp;</td>	
		</tr>	   
	    #end
	</table>
	<br/>	
	#if ($queryResult.isMultiPage())
		<div align="center" class="ms-vb">
		#if (!$queryResult.pageList.isFirstPage($pageNo))
			<a href="searchResultNav.htm?style=column&pageNo=${queryResult.pageList.minPage}">第一页</a>
			<a href="searchResultNav.htm?style=column&pageNo=${queryResult.pageList.getPrevPageNo($pageNo)}">上一页</a>
		#end
		#if (!$queryResult.pageList.isLastPage($pageNo))
			<a href="searchResultNav.htm?style=column&pageNo=${queryResult.pageList.getNextPageNo($pageNo)}">下一页</a>
			<a href="searchResultNav.htm?style=column&pageNo=${queryResult.pageList.maxPage}">最后一页</a>
		#end
		</div><br/><br/>
	#end	
	
	
	<br/>
	
	<table align="center" class="std_Table">
	  <tr class="Table_grayitem">	
          <td title="您可以看到这些结果是从哪些数据源中查到的"> 查看数据来源 </td>
          <td> <a href='$rc.contextPath/datasource.htm?style=column&pageNo=$pageNo'/><img border='0' src='images/gosearch.gif' border="0"/></a> </td>		
      </tr>  
	</table> 	
	</br>
</body>
</html>  